<p-toast />
<div class="flex flex-column p-5 border-round-2xl">
    <div class="card mb-0 shadow-2">
        <div class="flex flex-wrap justify-content-start">
            <p class="font-semibold text-500 text-3xl">Accesos Rápidos</p>
        </div>
        <div class="flex flex-wrap flex-column justify-content-start mt-3">
            <div class="flex flex-column w-2">
                <div class="flex flex-column bg-primary-600 border-round-top-xl">
                    <div class="flex flex-row m-3 gap-3">
                        <i class="pi pi-plus-circle align-content-center" style="color: #fafafa; font-size: 2rem"></i>
                        <div class="flex flex-column">
                            <p class="font-semibold text-lg text-white-alpha-90">Nuevo</p>
                            <p class="font-light text-white-alpha-80 -mt-3">Importar nuevo proyecto</p>
                        </div>
                    </div>
                </div>
                <div class="flex bg-primary-400 p-2 justify-content-center border-round-bottom-xl">
                    <p class="font-semibold text-white-alpha-90 cursor-pointer" (click)="abrirPestanaImportacion()">
                        importar</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="flex flex-column p-5 border-round-2xl">
    <div class="card mb-0 shadow-2">
        <div class="flex flex-wrap justify-content-start">
            <p class="font-semibold text-500 text-3xl">Proyectos</p>
        </div>
        <div class="md:mt-3">
            <p-table #dt1 [value]="projects" dataKey="idProyecto" [rows]="10" [loading]="loading" [rowHover]="true"
                [paginator]="true"
                [globalFilterFields]="['idProyecto','titulo','descripcion','fechaInicio','unidadTiempo','horasTrabajoDia']"
                responsiveLayout="scroll" (onRowSelect)="seleccionarProyecto($event)" selectionMode="single">

                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Limpiar" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                            (click)="clear(dt1)"></button>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                                placeholder="Buscar Folio, Título, Fecha" class="w-full" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col" style="min-width: 12rem">Folio</th>
                        <th scope="col" style="min-width: 12rem">Titulo</th>
                        <th scope="col" style="min-width: 14rem">Descripción</th>
                        <th scope="col" style="min-width: 10rem">Fecha de inicio</th>
                        <th scope="col" style="min-width: 12rem">Unidad de tiempo</th>
                        <th scope="col" style="min-width: 12rem">Hrs trabajo al día</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-project>
                    <tr [pSelectableRow]="project">
                        <td>{{ project.idProyecto }}</td>
                        <td>{{ project.titulo }}</td>
                        <td>{{ project.descripcion }}</td>
                        <td>{{ project.fechaInicio | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ project.unidadTiempo }}</td>
                        <td>{{ project.horasTrabajoDia }}</td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">No se encontraron proyectos</td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="6">Loading tasks data. Please wait.</td>
                    </tr>
                </ng-template>

            </p-table>


        </div>
    </div>
</div>

<!-- Pestaña para importacion de proyectos -->
<p-dialog header="Nuevo proyecto" [modal]="true" [(visible)]="visible" [style]="{ width: '40rem', height: '43rem' }">
    <div class="flex flex-column justify-content-center w-full">
        <!-- Título -->
        <div class="flex flex-wrap flex-column">
            <div class="flex flex-wrap justify-content-start mb-2">
                <p class="font-semibold text-lg">Título</p>
            </div>
            <div class="flex w-full">
                <input type="text" pInputText [(ngModel)]="tituloProyecto"
                    placeholder="Desarrollo de Plataforma Educativa en Línea" class="w-full" />
            </div>
        </div>

        <!-- Descripción -->
        <div class="flex flex-column my-3 md:w-full">
            <div class="flex flex-wrap justify-content-start mb-2">
                <p class="font-semibold text-lg">Descripción</p>
            </div>
            <div class="w-full">
                <textarea rows="5" pInputTextarea [(ngModel)]="descripcionProyecto" class="w-full"
                    placeholder="Este proyecto consiste en el desarrollo...">
                </textarea>
            </div>
        </div>

        <!-- Cargar archivo (vacío, por el momento) -->
        <div class="flex flex-wrap flex-column">
            <div class="flex flex-wrap justify-content-start mb-2">
                <p class="font-semibold text-lg">Cargar archivo</p>
            </div>
            <div class="flex justify-center">
                <div
                    class="flex flex-column justify-content-center align-items-center border-round-xl border-dashed border-1 w-full h-10rem gap-2">
                    <i class="pi pi-cloud-upload align-content-center"
                       style="color: var(--primary-color); font-size: 4rem"></i>
                    <p-fileUpload
                        #fileUpload
                        mode="basic"
                        chooseLabel="Seleccionar archivo"
                        name="demo[]"
                        accept=".xls, .xlsx"
                        maxFileSize="10000000"
                        (onSelect)="subirArchivo()" />
                </div>
            </div>
        </div>

        <!-- Botones de acción -->
        <div class="flex flex-wrap flex-row justify-content-end mt-6">
            <div class="flex mr-3">
                <p-button label="Cancelar" [outlined]="true" severity="danger" (onClick)="cerrarPestanaImportacion()" />
            </div>
            <div>
                <p-button label="Guardar" (onClick)="importarProyecto()" />
            </div>
        </div>
    </div>
</p-dialog>
